  <ion-grid class="ion-padding " style="background-color: #f8f9fa;">
    <!-- Título -->
    <ion-row>
      <ion-col size="12">
        <div class="ion-text-center ion-text-md-start ion-margin-bottom">
          <h2 class="display-4 ion-font-weight-bold">
            Impacto del desperdicio de alimentos en nuestro mundo</h2>
          <p class="text-muted fs-5">Cifras clave que resaltan el impacto global del desperdicio de alimentos.</p>
          <hr class="border-dark">
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- Card 1 -->
      <ion-col size="12" size-md="4">
        <ion-card class="ion-no-margin ion-margin-bottom">
          <ion-card-content class="ion-text-center">
            <ion-icon name="cloud" class="display-1 text-primary"></ion-icon>
            <h5 class="card-title fs-2 ion-font-weight-bold ion-margin-top">10%</h5>
            <p class="card-text fs-5">
              de los gases de efecto invernadero provienen de <strong>comida Desperdiciada</strong>.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Card 2 -->
      <ion-col size="12" size-md="4">
        <ion-card class="ion-no-margin ion-margin-bottom">
          <ion-card-content class="ion-text-center">
            <ion-icon name="cash" class="display-1 text-success"></ion-icon>
            <h5 class="card-title fs-2 ion-font-weight-bold ion-margin-top">940€ Billones</h5>
            <p class="card-text fs-5">
              Se pierden <strong>cada año</strong> debido al desperdicio de alimentos.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Card 3 -->
      <ion-col size="12" size-md="4">
        <ion-card class="ion-no-margin ion-margin-bottom">
          <ion-card-content class="ion-text-center">
            <ion-icon name="water" class="display-1 text-primary"></ion-icon>
            <h5 class="card-title fs-2 ion-font-weight-bold ion-margin-top">25%</h5>
            <p class="card-text fs-5">
              del agua dulce del mundo se utiliza en <strong>alimentos desperdiciados</strong>.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Card 4 -->
      <ion-col size="12" size-md="6">
        <ion-card class="ion-no-margin ion-margin-bottom">
          <ion-card-content class="ion-text-center">
            <ion-icon name="warning" class="display-1 text-danger"></ion-icon>
            <h5 class="card-title fs-2 ion-font-weight-bold ion-margin-top">733 Millones</h5>
            <p class="card-text fs-5">
              La gente <strong>pasa hambre</strong> mientras se desperdicia comida.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Card 5 -->
      <ion-col size="12" size-md="6">
        <ion-card class="ion-no-margin ion-margin-bottom">
          <ion-card-content class="ion-text-center">
            <ion-icon name="trash" class="display-1 text-dark"></ion-icon>
            <h5 class="card-title fs-2 ion-font-weight-bold ion-margin-top">1.3 Billones</h5>
            <p class="card-text fs-5">
              Se desperdician toneladas de comida <strong>a nivel mundial</strong> cada año.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
