.custom-gestion-theme {
  ion-card {
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
  }

  ion-label,
  ion-input,
  ion-textarea {
    color: #000000 !important;
  }

  /* Borde visible en inputs y textarea */
  ion-item {
    --border-color: #000000;    /* borde amarillo */
    --border-style: solid;
    --border-width: 1.8px;
    border-radius: 8px;
    background-color: #fff;     /* fondo blanco para los campos */
    margin-bottom: 12px;
  }

  ion-input,
  ion-textarea {
    background-color: transparent !important; /* para que el input no tenga fondo propio */
  }
}

.yellow-button {
  --background: #ffcc00;
  --color: #000;
  --background-hover: #e6b800;
  --background-activated: #d9ad00;
  font-weight: bold;
}
